<!DOCTYPE html>
<html>

<head>
    <title>Pi Music</title>
    <script type="text/javascript" src="static/assets/js/jquery.slim.min.js"></script>
    <script type="text/javascript">
        $('#device-item a').on('click', function (event) {
            event.preventDefault();

            $.ajax({
                url: this.href,
                type: POST,
                data: '{test:aja}',
                success: function (result) {
                    alert("Device connected")
                }
            });
        });
    </script>
</head>

<body>
    <h3>List of Devices : </h3>
    <table>
        <tr>
            <th>
                Device Name
            </th>
            <th>
                Mac Address
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr>
            {% if devices|length > 0 %}
            {% for item in devices %}
            <td>{{ item["name"] }}</td>
            <td>{{ item["addr"] }}</td>
            <td id="device-item"><a href="/api/bluetooth/connect/{{ item['addr'] }}">Connect Device</a></td>
            {% endfor %}
            {% endif %}
        </tr>
    </table>
</body>

</html>