<!DOCTYPE html>
<html>

<head>
    <title>Pi Music</title>
</head>

<body>
    <h3>List of Devices : </h3>
    <table>
        <tr>
            <th>
                Device Name
            </th>
            <th>
                Mac Address
            </th>
            <th>
                <a href="/connect">Action</a>
            </th>
        </tr>
        <tr>
            {% if len(devices) > 0 %}
            {% for item in devices %}
            <td></td>
            {% endfor %}
            {% endif %}
        </tr>
    </table>
</body>

</html>